<h1 class="mt-3">Pipes -<small> Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="table-secondary">

        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>

      </thead>
      <tbody>

        <!-- Texto Capitalizado: Organiza texto con las iniciales en mayusculas -->
        <tr>
          <td> {{ nombre2 }} </td>
          <td> capitalizado </td>
          <td> {{ nombre2 | capitalizado }} </td>
        </tr>

        <!-- Texto en mayuscula  -->
        <tr>
          <td> {{ nombre }} </td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase }} </td>
        </tr>

        <!-- Texto en minuscula  -->
        <tr>
          <td> {{ nombre }} </td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase }} </td>
        </tr>

         <!-- Eliminar las 3 primeras letras del texto  -->
         <tr>
          <td> {{ nombre }} </td>
          <td> slice:3 </td>
          <td> {{ nombre | slice:3 }} </td>
        </tr>

        <!-- Eliminar las 3 ultimas letras del texto  -->
        <tr>
          <td> {{ nombre }} </td>
          <td> slice:0:3 </td>
          <td> {{ nombre | slice:0:3 }} </td>
        </tr>

        <!-- Escoger los numeros del 1 al 5  -->
        <tr>
          <td> {{ arreglo }} </td>
          <td> slice:0:5 </td>
          <td> {{ arreglo | slice:0:5 }} </td>
        </tr>

        <!-- Valor decimal de PI  -->
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number }} </td>
        </tr>

        <!-- Valor decimal de PI a entero  -->
        <tr>
          <td> {{ PI }} </td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'1.0-0' }} </td>
        </tr>

        <!-- Dar el valor de entero pero en decimal que vaya de 0 a 2  -->
        <tr>
          <td> {{ PI }} </td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'.0-2' }} </td>
        </tr>

        <!-- Los numeros los pasa a porcentaje  -->
        <tr>
          <td> {{ porcentaje }} </td>
          <td> percent </td>
          <td> {{ porcentaje | percent }} </td>
        </tr>

        <!-- Ordena el salario con el signo de $  -->
        <tr>
          <td> {{ salario }} </td>
          <td> currency </td>
          <td> {{ salario | currency }} </td>
        </tr>

        <!-- Ordena el salario con el signo de EURO o dependiendo de su pais  -->
        <tr>
          <td> {{ salario }} </td>
          <td> currency: 'EUR' </td>
          <td> {{ salario | currency: 'EUR' }} </td>
        </tr>

        <!-- Ordena el salario con su respectiva inicial del pais y anular los decimales  -->
        <tr>
          <td> {{ salario }} </td>
          <td> currency:'CAD':'symbol':'.0-0' </td>
          <td> {{ salario | currency:'CAD':'symbol':'.0-0' }} </td>
        </tr>

        <!-- Pipe async -->
        <tr>
          <td> {{ valorPromesa }} </td>
          <td> async </td>
          <td> {{ valorPromesa | async }} </td>
        </tr>

        <!-- fecha actual -->
        <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>
        </tr>

        <!-- fecha y hora actual -->
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'medium' </td>
          <td> {{ fecha | date:'medium' }} </td>
        </tr>

        <!-- fecha y hora actual de forma corta -->
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'short' </td>
          <td> {{ fecha | date:'short' }} </td>
        </tr>

        <!-- fecha - mes y dia -->
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - dd' </td>
          <td> {{ fecha | date:'MMMM - dd' }} </td>
        </tr>

        <!-- fecha - mes y dia en idiomas -->
        <tr>
          <td> {{ fecha }} </td>
          <td> date:'MMMM - dd':'':'{{ idioma }}' 
            <br>
            <button (click)="idioma= 'es'" class="btn btn-primary">Español</button>
            <button (click)="idioma= 'en'" class="btn btn-secondary">Ingles</button>
            <button (click)="idioma= 'fr'" class="btn btn-success">Frances</button>
          </td>
          <td> {{ fecha | date:'MMMM - dd':'':idioma }} </td>
        </tr>

        <!-- fecha - mes y dia -->
        <tr>
          <td> {{ nombre }} </td>
          <td> 
            Contraseña: {{activar}}
            <br>
            <button (click)="activar =!activar" class="btn btn-outline-primary">
              Activar/Desactivar
            </button>
          </td>
          <td> {{ nombre | contrasena: activar }} </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<h3>JSON</h3>
<hr>
<div class="row mb-5">
  <div class="col">

      <pre>
        {{ heroe | json }}
      </pre>

  </div>
</div>

<h3 class="mt-4">Domseguro
  <hr>
  <div class="row mb-5">
    <div class="col">

      <iframe 
          width="560" 
          height="315" 
          [src]="videoUrl | domseguro" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
      </iframe>

    </div>
  </div>
</h3>